
:root{
    color-scheme: light dark;
    --shadow-color:#000;
    --card-border-radius:12px;

}


[data-theme="dark"] {
    --bg-color: #121212;
    --color-text-primary: #ffffff;
    --color-text-secondary:#eeeeee;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --error-color: #cf6679;
    --warning-color: #ff9800;
    --info-color: #2196f3;
    --success-color: #4caf50;
    --border-color: #ffffff;
    
    --card-color:rgba(255, 255, 255, 0.01);
    --chip-color:rgba(255, 255, 255, 0.05);
    --section-color:#181818;

    --menu-bg-color:#20212e;
    --ongoing-sticker-bg-1: #124700;
    --ongoing-sticker-bg-2: #1f680b;
    --ongoing-sticker-fg: #d1ffc8;
}


[data-theme="light"] {
    --bg-color: #f2f2f2;
    --color-text-primary: #000000;
    --primary-color: #6200ea;
    --secondary-color: #03dac6;
    --error-color: #b00020;
    --warning-color: #ff9800;
    --info-color: #2196f3;
    --success-color: #4caf50;
    --border-color: #e0e0e0;

    --card-color: rgba(255, 255, 255, 0.14);
    --section-color:#f2f2f2;
    --chip-color:rgba(255, 255, 255, 0.709);

    --menu-bg-color:#ffffff;
    --ongoing-sticker-bg-1: #79ff57;
    --ongoing-sticker-bg-2: #2dd808;
    --ongoing-sticker-fg: #004e00;
}