@import url(colors.css);
@import url(animations.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--color-text-primary);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

section {
    min-height: 100vh;
    display: block;
    justify-content: left;
    align-items: start;
    text-align: left;
    font-size: 3rem;
    padding: 1em 1em;

    overflow: hidden;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 0 1rem 0;
    color: var(--color-text-secondary);
}

a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 1.5rem;
    cursor: pointer;
}

/**********************************************************/
/*************************** Header ***********************/
/**********************************************************/
.header {
    padding: 2rem;
    min-height: 6rem;
    position: fixed;
    display: grid;

    border-radius: 10px;
    margin: 20px;

    width: calc(100% - 40px);

    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu";
    align-items: center;


}

p{
    max-width: 55ch;
    padding: 1rem 0;
}

.header .logo {
    grid-column: 1;
    justify-self: start;
}

/**********************************************************/
/*************************  Menu **************************/
/**********************************************************/
#menu-btn{
    font-size: 2rem;
}
#close-btn{
    position: fixed;
    font-size: 2rem;
    z-index: 1;
    right: 0;
    margin: 1em;
}
.menu {
    grid-column: 2/-1;
    width: max-content;
    justify-self: end;    
}
.menu nav{
    list-style-type: none;
    display: flex;
    padding: 1em;
}
.menu nav a{
    position: relative;
    margin: 0 1em;
    display: inline-block;
    text-decoration: none;
    color: var(--color-text-primary);
    /* background-color: blue; */
}
.menu nav a::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 2px;
    background-color: var(--color-text-primary);
    transition: transform 0.3s ease-in-out;
}
.menu nav a:hover::after {
    transform: translateX(-50%) scaleX(1);
}
/**********************************************************/
/************************* HERO **************************/
/**********************************************************/

.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}
.hero h1{
    font-size: 10rem;
}
.hero p{
    font-size: 1.5rem;
}
/**********************************************************/
/************************* Projects **************************/
/**********************************************************/

#projects {
    background: var(--card-color);
}

/**********************************************************/
/************************* Skills **************************/
/**********************************************************/


.skills-wrapper{
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.skill-category {
    background: var(--card-color);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.05);

    flex-wrap: wrap;
}

.skill-category strong {
    color: var(--color-text-primary);
    display: block;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.skill-list {
    margin: 0.2em 0 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-grow:1;
    max-width: 55ch;
}

.skill-list li {
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: var(--color-text-primary);
    transition: background 0.3s ease;
    font-size: 1rem;

}

.skill-list li:hover {
    background-color: rgba(255, 255, 255, 0.23);

    cursor: default;
}
