@media screen and (max-width: 1280px) {

    .header{
        backdrop-filter: blur(10px);

    }

    .skills-wrapper{
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .header{
        bottom: 0;
        display: flex;
        justify-content: center;
    }

    .header .logo{
        display: none;
    }
    /*.menu{*/
    /*    justify-content: center;*/
    /*}*/
    .hero h1{
        font-size: 5rem;
    }
    p{
        font-size: 1rem;
    }

    .socials{
        grid-template-columns: auto;
    }
}