* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    scrollbar-color: var(--color-primary) var(--color-surface-container);
    scrollbar-width: thin;
}

html {
    overflow-x: hidden;
    font-size: 1rem;
}

body {
    background-color: var(--color-surface-container);
    color: var(--color-on-surface);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


h1,
h2,h3 {
    color: var(--color-primary);
    user-select: none;
}

h4,
h5,
h6 {
    color: var(--color-secondary);
    user-select: none;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
    padding: var(--padding-md) 0;
}

h3 {
    font-size: 2.5rem;
    padding: var(--padding-sm) 0;
}

h4 {
    font-size: 1.2em;
    font-weight: 800;
    padding: var(--padding-md) 0;
}

section {
    align-items: start;
    text-align: left;
    padding: var(--padding-lg);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--color-on-surface);
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: auto;
}

.iconify {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    display: inline-block;
}

::-webkit-scrollbar{
    /*background: transparent;*/
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track{
    background: var(--color-surface-container)
}
::-webkit-scrollbar-thumb{
    /*position: absolute;*/
    background: var(--color-secondary);
    border-radius: var(--border-radius-md)
}