:root {
    --color-accent: #6471e3; /* Blue 800 */
    --debug-color: #f00;
    /* Common static variables */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


    --border-radius: 10px;
    --border-radius-circle: 99999px;

    /* Spacing */
    --border-radius-lg: 4em;
    --border-radius-md: 2em;
    --border-radius-sm: 0.5em;
    --box-shadow: 0 0 10px 10px oklch(0 0 0 / 0.1);
    /* Padding */
    --padding-lg: 1.5rem;
    --padding-md: 1rem;
    --padding-sm: 0.5rem;
    --transition-speed: 0.3s;

    /* Base accent color */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md:16px;
    --spacing-lg:24px;
    --spacing-xl: 30px;

    --inverse-filter:invert(0);
    --color-canvas: oklch(0.403 0.09 278.335 / 0.33);
    --color-overlay: oklch(0.779 0.11 291.858 / 0.2);
    --color-on-overlay: oklch(0.873 0 89.876);
    --color-background: oklch(0.189 0.01 285.397);


    color-scheme: dark;


    --color-border: oklch(37.941% 0.02571 279.122);

    --color-error: oklch(0.838 0.089 26.757);
    --color-error-container: oklch(0.417 0.17 27.379);
    --color-inverse-on-surface: oklch(0.312 0.011 285.766);
    --color-inverse-primary: oklch(0.486 0.091 279.381);
    --color-inverse-surface: oklch(0.914 0.011 303.101);
    --color-on-background: oklch(0.914 0.011 303.101);
    --color-on-error: oklch(0.328 0.134 27.32);
    --color-on-error-container: oklch(0.918 0.042 25.226);
    --color-on-primary: oklch(0.317 0.093 276.489);
    --color-on-primary-container: oklch(0.916 0.042 285.541);
    --color-on-primary-fixed: oklch(0.232 0.1 273.22);
    --color-on-primary-fixed-variant: oklch(0.403 0.09 278.335);
    --color-on-secondary: oklch(0.313 0.034 281.898);
    --color-on-secondary-container: oklch(0.915 0.034 287.547);
    --color-on-secondary-fixed: oklch(0.226 0.035 280.779);
    --color-on-secondary-fixed-variant: oklch(0.398 0.034 282.509);
    --color-on-surface: oklch(0.914 0.011 303.101);
    --color-on-surface-variant: oklch(0.828 0.015 294.41);
    --color-on-tertiary: oklch(31.826% 0.05769 341.126 / 0.704);
    --color-on-tertiary-container: oklch(0.921 0.052 343.229);
    --color-on-tertiary-fixed: oklch(0.231 0.057 338.999);
    --color-on-tertiary-fixed-variant: oklch(0.404 0.058 340.904);
    --color-outline: oklch(0.657 0.015 290.589);
    --color-outline-variant: oklch(0.398 0.015 285.697);
    --color-primary: oklch(0.832 0.085 281.444);
    --color-primary-container: oklch(0.403 0.09 278.335);
    --color-primary-fixed: oklch(0.916 0.042 285.541);
    --color-primary-fixed-dim: oklch(0.832 0.085 281.444);
    --color-scrim: oklch(0 0 0);
    --color-secondary: oklch(0.829 0.035 287.452);
    --color-secondary-container: oklch(0.398 0.034 282.509);
    --color-secondary-fixed: oklch(0.915 0.034 287.547);
    --color-secondary-fixed-dim: oklch(0.829 0.035 287.452);
    --color-shadow: oklch(0 0 0 / 0.29);
    --color-surface: oklch(0.189 0.01 285.397);
    --color-surface-bright: oklch(0.347 0.01 285.848);
    
    
    --color-surface-container: oklch(0.242 0.011 285.52);
    --color-surface-container-high: oklch(28.442% 0.01097 293.282 / 0.363);
    --color-surface-container-highest: oklch(32.737% 0.01054 285.76 / 0.508);
    --color-surface-container-low: oklch(0.225 0.012 285.432);
    --color-surface-container-lowest: oklch(0.166 0.01 285.212);
    
    
    --color-surface-dim: oklch(0.189 0.01 285.397);
    --color-surface-tint: oklch(0.832 0.085 281.444);
    --color-surface-variant: oklch(0.398 0.015 285.697);
    --color-tertiary: oklch(0.836 0.065 342.126);
    --color-tertiary-container: oklch(0.404 0.058 340.904);
    --color-tertiary-fixed: oklch(0.921 0.052 343.229);
    --color-tertiary-fixed-dim: oklch(0.836 0.065 342.126);
}
